Django==4.2.23
asgiref==3.9.1
sqlparse==0.5.3
typing_extensions==4.14.1

weasyprint==65.1
cffi==1.17.1
tinycss2==1.4.0
cssselect2==0.8.0
html5lib==1.1
webencodings==0.5.1
pyphen==0.17.2
fonttools==4.59.0
pydyf==0.11.0
Brotli==1.1.0
zopfli==0.2.3.post1

python-docx==1.2.0
lxml==6.0.0
PyMuPDF==1.26.3

requests==2.32.4
urllib3==2.5.0
certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
